$lt-gray: #ddd;
$background-dark: #000000;
$background-light: gold;
$background-pale: Black;
$background-moredark:#4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.active{
    background: $background-moredark;
}