<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your Feedback</h3>
    <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>

    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text">
          <mat-error *ngIf="formErrors.firstname">
            {{ formErrors.firstname }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text">
          <mat-error *ngIf="formErrors.lastname">
              {{ formErrors.lastname }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="phone" placeholder="Phone" type="tel">
          <mat-error *ngIf="formErrors.phone">
              {{ formErrors.phone }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email">
          <mat-error *ngIf="formErrors.email">
              {{ formErrors.email }}
          </mat-error>
        </mat-form-field>
      </p>
      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
        </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </mat-form-field>
      </p>
      <button type="submit"
              mat-button
              class="background-primary text-floral-white"
              [disabled]="feedbackForm.invalid">
        Submit
      </button>
    </form>

  </div>

</div>
